body{
    height:100vh;
    width:100vw;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
#glasspane{
    padding:20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 10px solid rgba(255, 255, 255, 0.3);
}
button{
    border-radius: 40%;
    background-color: whitesmoke;

}